
div.page-home, #screen {
	position: relative;
}
#screen{
	font-size: 50px;
}
#wifi {
	height: 660px;
}
#wifi div{
	background-color: rgb(242, 242, 242);
	background-color: rgba(242, 242, 242, 0.9);
	font-size: 56px;
}
#wifi .wifi-title {
	color: #777777;
}

